name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ununtu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: build
        run: npm install && npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: dist/
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to Github pages
        names: actions/deploy-pages@v1
